@{
    ViewData["Title"] = "Index";
}

 <div class="principal">
        <h1>Enigma Escaperooms</h1>
        <h3>Bienvenidos al Gran Atraco.</h3>
        
    </div>
    <div>
    <p> En esta sala de escape tematizada en la serie de Netflix "La Casa de Papel", usted va a tener que superar distintos desafios para los cuales va a tener que utilizar su ingenio para escapar. Mucha suerte</p> 
        <a href='@Url.Action("Comenzar")'>AQUI PODRAS ENCONTRAR A LA SALA 1</a>
        <a href='@Url.Action("tutorial")'>TUTORIAL</a>
        <a href='@Url.Action("creditos")'>CREDITOS</a>
    </div>
    <div class="index">
        <img src="/img/casadepapel.jpg" alt="">
        <img src="/img/papel.jpg" alt="">
        <img src="/img/casade.jfif" alt="">
    </div>
    <div>
        <h4> Trabajo hecho por Tomas Klawir, Uriel Engelberg y Martin Cywiner</h4>
    </div>